* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container-fluid {
    background-color: rgb(213, 223, 213);
}

.navbar-nav .nav-link {
    color: black;
}

.navbar-nav .nav-link:hover {
    background-color: rgb(66, 141, 66);
}

.btn {
    color: black;
    border-color: black;
    transition: color 0.5s, border-color 0.5s;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#green {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#Classic_Greenhouse {
    display: flex;
    flex-direction: row; /* Change to column to stack items vertically */
    align-items: center; /* Center items horizontally */
    border: 5px solid rgb(54, 129, 54);
    padding-bottom: 10px;
}

#leanto_Greenhouse {
    display: flex;
    flex-direction: row; /* Change to column to stack items vertically */
    align-items: center; /* Center items horizontally */
    border: 5px solid rgb(54, 129, 54);
    padding-bottom: 10px;
    margin-top: 30px;
}

#even_Greenhouse {
    display: flex;
    flex-direction: row; /* Change to column to stack items vertically */
    align-items: center; /* Center items horizontally */
    border: 5px solid rgb(54, 129, 54);
    padding-bottom: 10px;
    margin-top: 30px;
}

#uneven_Greenhouse {
    display: flex;
    flex-direction: row; /* Change to column to stack items vertically */
    align-items: center; /* Center items horizontally */
    border: 5px solid rgb(54, 129, 54);
    padding-bottom: 10px;
    margin-top: 30px;
}

#ridgeandfurrow {
    display: flex;
    flex-direction: row; /* Change to column to stack items vertically */
    align-items: center; /* Center items horizontally */
    border: 5px solid rgb(54, 129, 54);
    padding-bottom: 10px;
    margin-top: 30px;
}

#quonset {
    display: flex;
    flex-direction: row; /* Change to column to stack items vertically */
    align-items: center; /* Center items horizontally */
    border: 5px solid rgb(54, 129, 54);
    padding-bottom: 10px;
    margin-top: 30px;
}

#rowclassic {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center items horizontally */
}

#class_green {
    display: flex;
    flex-direction: row; /* Change to column to stack items vertically */
    align-items: center; /* Center items horizontally */
    margin: 20px;
}

#class_green img {
    width: 400px;
    height: 400px;
    margin-bottom: 20px; /* Add margin to separate image and text */
}

#class_green p {
    width: 400px;
    margin-bottom: 20px; /* Add margin to separate paragraphs */
}



#greenhouseframework{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    border: 5px solid rgb(54, 129, 54);
}

#greenhouseflooring{

    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    border: 5px solid rgb(54, 129, 54);
}

#Fertigation_systems{

    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    border: 5px solid rgb(54, 129, 54);
}

 






footer{
    background-color: rgb(107, 150, 107);
    color: white;
    padding: 20px 0;
    text-align: center;
    display: flex;
    margin-top: 20PX;
    width:100%;
}

footer a {
    color: white;
    text-decoration: none;
    
}

footer a:hover {
    text-decoration: underline;
}

iframe{
    width: 300px;
    height: 100px;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

/* label {
    display: block;
    margin-bottom: 5px;
} */




@media (max-width: 768px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: column;
    }
    .navbar-expand-lg .navbar-nav .nav-item {
        width: 100%;
    }
    .navbar-expand-lg .navbar-toggler {
        display: block;
    }
    .navbar-expand-lg .collapse {
        display: none !important;
    }
    .navbar-expand-lg .collapsed {
        display: block !important;
    }
    .navbar-expand-lg .navbar-collapse {
        display: block !important;
    }
    .navbar-expand-lg .navbar-collapse.collapsing {
        display: block !important;
    }

    #company-profile {
        padding: 20px; /* Add padding for better readability on smaller screens */
    }


    #vision, #mission {
        width: 100%; /* Make the images take up the full width on smaller screens */
        height: auto; /* Let the height adjust automatically to maintain aspect ratio */
    }

    #carousel {
        padding: 20px; /* Add padding for better readability on smaller screens */
    }

    .carousel-item img {
        height: auto; /* Make carousel images responsive by setting height to auto */
    }

    .carousel-inner img {
        height: auto; /* Make carousel images responsive by setting height to auto */
    }
}
