* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container-fluid {
    background-color: rgb(213, 223, 213);
}

.navbar-nav .nav-link {
    color: black;
}

.navbar-nav .nav-link:hover {
    background-color: rgb(66, 141, 66);
}

.btn {
    color: black;
    border-color: black;
    transition: color 0.5s, border-color 0.5s;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#company-profile {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: aquamarine;
  
}

#visionmission {
    display: flex;
    flex-direction: row;
    
    
    width: 100%;
    height: auto;
    background-color: aquamarine;
    justify-content: space-around;
}





 

#carousel {
    display: flex;
    width: 100%;
    border-top: solid green 5px;
    align-content: center;
    background-color: aquamarine;
}

.carousel-item img {
    width: 100%;
    height: 200px;
}

.carousel-inner img {
    width: 100%;
    height: 500px;
}

#carouselExampleIndicators {
    width: 100%;
    height: auto;
}

.elementor-widget-container {
    display: flex;
    justify-content: center;
}

.form-control.me-2 {
    flex: 1;
}

@media (max-width: 768px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: column;
    }
    .navbar-expand-lg .navbar-nav .nav-item {
        width: 100%;
    }
    .navbar-expand-lg .navbar-toggler {
        display: block;
    }
    .navbar-expand-lg .collapse {
        display: none !important;
    }
    .navbar-expand-lg .collapsed {
        display: block !important;
    }
    .navbar-expand-lg .navbar-collapse {
        display: block !important;
    }
    .navbar-expand-lg .navbar-collapse.collapsing {
        display: block !important;
    }

    #company-profile {
        padding: 20px; /* Add padding for better readability on smaller screens */
    }


    #vision, #mission {
        width: 100%; /* Make the images take up the full width on smaller screens */
        height: auto; /* Let the height adjust automatically to maintain aspect ratio */
    }

    #carousel {
        padding: 20px; /* Add padding for better readability on smaller screens */
    }

    .carousel-item img {
        height: auto; /* Make carousel images responsive by setting height to auto */
    }

    .carousel-inner img {
        height: auto; /* Make carousel images responsive by setting height to auto */
    }
}
